<head>
    <%- include("_header") -%>
      <link rel="stylesheet" href="/public/assets/search.css">
  </head>
  
  
  <body>
    <section class="container pt-4">
      <div class="card ">
        <div class="card-header text-center py-3">
          <% for (const item of dataInfo){%>
            <h5 class="mb-0 text-center">
              <strong>Most Recent Prices For: <%=item.item_name%></strong>
            </h5>
        </div>
        <div class="card-body">
          <div class="table-responsive ">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th scope="col">Recent Time (UTC)</th>
                  <th scope="col">Item ID</th>
                  <th scope="col">Item Name</th>
                  <th scope="col">High Price</th>
                  <th scope="col">Low Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <%= recentTime%>
                  </td>
                  <td>
                    <%= item.item_id%>
                  </td>
                  <td>
                    <%= item.item_name%>
                  </td>
                  <td>
                    <%= item.high_price.toString()%>
                  </td>
                  <td>
                    <%= item.low_price.toString()%>
                  </td>
                </tr>
              </tbody>
              <%}%>
            </table>
          </div>
        </div>
      </div>
  
    </section>
  
    <main>
      <div class="container pt-4">
        <section class="mb-4">
          <div class="card">
            <div class="my-4 w-100" id='myDiv'>
              <!-- Plotly chart will be drawn inside this DIV -->
            </div>
          </div>
      </div>
      </section>
      </div>
    </main>
    <!-- Load plotly.js into the DOM -->
    <script src='https://cdn.plot.ly/plotly-2.14.0.min.js'></script>
    <script>
  
      const labelInfo = JSON.parse('<%-JSON.stringify(labels)%>');
      let labelsData = [];
      for (let i = 0; i < labelInfo.length; i++) {
        labelsData.push(labelInfo[i]);
      }
  
      const dataHighPriceInfo = JSON.parse('<%-JSON.stringify(dataHighPrice)%>');
      let highPriceData = [];
      for (let i = 0; i < dataHighPriceInfo.length; i++) {
        highPriceData.push(dataHighPriceInfo[i]);
      }
  
      const dataLowPriceInfo = JSON.parse('<%-JSON.stringify(dataLowPrice)%>');
      let lowPriceData = [];
      for (let i = 0; i < dataLowPriceInfo.length; i++) {
        lowPriceData.push(dataLowPriceInfo[i]);
      }
  
      const trace1 = {
        x: labelsData,
        y: highPriceData,
        name: 'High Price',
        mode: 'lines+markers',
      };
  
      const trace2 = {
        x: labelsData,
        y: lowPriceData,
        name: 'Low Price',
        mode: 'lines+markers',
      };
  
      const data = [trace1, trace2];
  
      const layout = {
        title:
          "<%=itemID%> - scroll to zoom in on data",
        xaxis: {
          automargin: true,
          title: {
            text: 'Date/Time',
            standoff: 20,
          },
          type: 'scatter',
          mode: 'lines',
          autotick: true,
        },
        yaxis: {
          automargin: true,
          title: { text: 'Prices', standoff: 10, }
        },
        font: { size: 12 },
        height: 400,
      };
  
      const config = {
        responsive: true,
        scrollZoom: true,
        displayModeBar: true,
      }
  
      Plotly.newPlot('myDiv', data, layout, config);
  
    </script>
  </body>
  
  <footer>
    <%- include("_footer") -%>
  </footer>